body {
  background-image: url("../pictures/0411-04_edited.jpg");
  background-size: cover;
}

div.form {
  background-color: white;
  box-shadow: 0 0 20px 15px gray;
  width: 500px;
  height: 400px;
  margin-top: 150px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 3rem;
  }
  div.username {
    display: flex;
    align-items: center;
    label.userlabel {
      font-size: 1.5rem;
      padding-right: 20px;
      font-weight: 700;
    }
    input.usernameinput {
      width: 300px;
      height: 30px;
    }
  }

  div.password {
    display: flex;
    align-items: center;
    label.passwordlabel {
      font-size: 1.5rem;
      padding-right: 20px;
      margin-top: 30px;
      font-weight: 700;
    }
    input.passwordinput {
      width: 300px;
      height: 30px;
      margin-top: 30px;
    }
  }

  button.button {
    font-size: 2rem;
    margin-top: 30px;
    width: 380px;
    height: 50px;
    cursor: pointer;
    border-radius: 1rem;
  }
  button.button:hover {
    font-size: 2rem;
    background-color: black;
    color: white;
  }
}

button.gohome {
  margin-left: 500px;
  margin-top: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  font-size: 1.25rem;
  font-weight: 700;
  border: 3px solid black;
  cursor: pointer;
}
button.gohome:hover {
  background-color: black;
  color: white;
  border: 3px solid white;
}

@media screen and (max-width: 1100px) {
  body {
    background-image: none;
    background-color: blanchedalmond;
  }
}

@media screen and (max-width: 720px) {
  body {
    background-image: none;
    background-color: blanchedalmond;
  }
  div.form {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: blanchedalmond;
  }
  div.form {
    width: 300px;
    height: 400px;
    h1 {
      font-size: 1.5rem;
    }
    div.username {
      label.userlabel {
        font-size: 1rem;
        padding-right: 20px;
        font-weight: 700;
      }
      input.usernameinput {
        width: 200px;
        height: 30px;
      }
    }

    div.password {
      display: flex;
      align-items: center;
      label.passwordlabel {
        font-size: 1rem;
        padding-right: 20px;
        margin-top: 30px;
        font-weight: 700;
      }
      input.passwordinput {
        width: 200px;
        height: 30px;
        margin-top: 30px;
      }
    }

    button.button {
      font-size: 2rem;
      margin-top: 30px;
      width: 200px;
    }
  }
}

@media screen and (max-width: 450px) {
  div.form {
    margin-left: 25px;
  }
}
